<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NYT</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container" style="height: auto; margin-bottom: 10rem;">
      <h1><%- title %></h1>
      <article style="overflow: scroll;">
        <%-data%>
      </article>
    </div>

    <div class="bold text-center p-5 mt-5 sticky-bottom">
      <a href="/"><b>LBP</b></a>
    </div>
  </body>
</html>
